:root{
    --white: #ffffffff;
    --ink-black: #00171fff;
    --deep-space-blue: #003459ff;
    --cerulean: #007ea7ff;
    --fresh-sky: #00a8e8ff;
}



body{
    background-color: white;
}

/* Navbar */

.navbar{
    background-color: rgb(255, 255, 255);
}

.nav-item{
    font-size: 17px;
    font-weight: bold;
    color: rgb(114, 114, 114);
    
}

.nav-item:hover{
    color: rgb(0, 0, 0);
    transition: 2s;
    
}

footer{
    background: rgb(158, 158, 158);
    /* position: fixed; */
    width: 100%;
    height: 200px;
    bottom: 0;
    display: flex;
}

/* Főoldal */

.fooldaldiv{
    background-image: url('../img/fooldalkep.jpg');
    background-size: cover;
    background-position: center center;
    height: 500px;
    
    
}




.card-footer{
    background-color: white;
}

#kosarGomb{
    border-radius: 5px;
    border-color: grey;
    background-color: white;
    height: 5rem;
    font-size: larger;
    width: 18rem;
    text-align: center;
    transition: background-color 0.5s;
}
#kosarGomb:hover{
    background-color: lightgrey;
}
#kosarGomb:active{
    background-color: grey;
}